# Task 24

* XOR gates
  * Combination of NAND, OR, and AND gates (hint hint ... task 1.3: xor_gate = ...)

Siv:

Its a matter of how creating the layer made of two gates and passing it through nor. This would be how you would execute it with the given structure

* W1 = np.array([[w1(nor), w1(nand)], [w2(nor), w2(nand)]])
* b1 = np.array([nor bias, nand bias])
* W2 = np.array([[w1(and)], [w2(and)]])
* b2 = np.array([bias (and)])

In [8]:
import numpy as np
import matplotlib.pyplot as plt

In [9]:
def sigmoid(x):
    return 1.0 / (1.0 + np.exp(-x))

In [10]:
class Layer():

  def __init__(self, W, b):
    self.m = W.shape[0]
    self.n = W.shape[1]
    self.W = W
    self.b = b

  def activate(self, X):
    z = np.dot(X, self.W) + self.b
    return sigmoid(z)

Input:
| Input 1 | Input 2 |
|---------|---------|
| 1       | 1       |
| 0       | 1       |
| 1       | 0       |
| 0       | 0       |

Expected Output:
| Output |
|--------|
| 0      |
| 1      |
| 1      |
| 0      |

In [ ]:
# NAND and OR gates weights and biases
#W1 = np.array(...) # 4x2 dimensions
#b1 = np.array(...) # 2x2 dimensions

# AND gate weight and bias
#W2 = np.array(...) # 2x1 dimensions
#b2 = np.array(...) # 1x1 dimensions

hidden_layer = Layer(W1, b1) # NAND and OR --> 4x2
output_layer = Layer(W2, b2) # AND --> 2x1

# Hidden layer
# X is a 4x2 matrix
# W1 is a 2x2 matrix
# b1 is a 1x2 matrix

# z1 = X . W1 + b1 --> (axb) . (bxc) = (axc), so column of X needs to equal row of W
# z1 = (4x2) . (2x2) + (1x2)
# z1 = (4x2) + (1x2)
# z1 = (4x2)
# a1 = sigmoid(z1)
# a1 = (4x2)

# Output layer
# a1 is a 4x2 matrix
# W2 is a 2x1 matrix
# b2 is a 1x1 matrix

# z2 = a1 . W2 + b2
# z2 = (4x2) . (2x1) + (1x1)
# z2 = (4x1) + (1x1)
# z2 = (4x1)
# a2 = sigmoid(z2)
# a2 = (4x1)

In [6]:
class Network():

  def __init__(self, hidden, output):
    self.hidden = hidden
    self.output = output

  def activate(self, X):
    z = self.hidden.activate(X)
    return self.output.activate(z)

In [7]:
X = np.array(
    [
        [1, 1],
        [0, 1],
        [1, 0],
        [0, 0]
    ]
) # Dimension 4 x 2

In [ ]:
xor_gate = Network(hidden_layer, output_layer)

xor_output = xor_gate.activate(X)
np.round(xor_output)

# Other

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Housing_dataset.csv')

In [5]:
df.head()

   Crime_rate Mountain_view  Avg_room_num  Low_stat  Value
0     0.00632            No         6.575      4.98   24.0
1     0.02731            No         6.421      9.14   21.6
2     0.02729            No         7.185      4.03   34.7
3     0.03237            No         6.998      2.94   33.4
4     0.06905            No         7.147      5.33   36.2

In [19]:
df.iloc[:,:] # [rows, columns] --> iloc means integer indexing

     Crime_rate Mountain_view  Avg_room_num  Low_stat  Value
0       0.00632            No         6.575      4.98   24.0
1       0.02731            No         6.421      9.14   21.6
2       0.02729            No         7.185      4.03   34.7
3       0.03237            No         6.998      2.94   33.4
4       0.06905            No         7.147      5.33   36.2
..          ...           ...           ...       ...    ...
501     0.06263            No         6.593      9.67   22.4
502     0.04527            No         6.120      9.08   20.6
503     0.06076            No         6.976      5.64   23.9
504     0.10959            No         6.794      6.48   22.0
505     0.04741            No         6.030      7.88   11.9

[506 rows x 5 columns]

In [34]:
df.loc[4:5] # [rows]

   Crime_rate Mountain_view  Avg_room_num  Low_stat  Value
4     0.06905            No         7.147      5.33   36.2
5     0.02985            No         6.430      5.21   28.7