In [33]:
import pandas as pd

In [34]:
df = pd.read_csv("Survey_data.csv")
df.head()

      ID  Age  Income Property  Num of pets in household
0  14578   75   20000        N                       1.0
1  14615   72   32000        N                       2.0
2  14652   54    2000       no                       4.0
3  14689   81   29000       no                       1.0
4  14726   37    2000      yes                       4.0

In [35]:
df.shape

(103, 5)

In [36]:
# ID entries must be unique
df["ID"].nunique()

100

In [37]:
# Checking for duplicates
duplicates = df[df.duplicated()]
duplicates.head()

       ID  Age  Income Property  Num of pets in household
29  15614   73   46000       NO                       2.0
80  17464   64   24000      YES                       1.0
98  18093   77   31000      YES                       4.0

In [38]:
# Removing duplicates
df = df.drop_duplicates()
duplicates = df[df.duplicated()]
duplicates.head()

Empty DataFrame
Columns: [ID, Age, Income, Property, Num of pets in household]
Index: []

In [39]:
# Checking for incomplete records
incomplete_records = df[df.isnull().any(axis=1)]
incomplete_records

       ID  Age  Income Property  Num of pets in household
37  15910   79   32000      YES                       NaN
53  16502   67   50000        N                       NaN

In [40]:
# MCAR so mean imputation
avg_num_pets = round(df["Num of pets in household"].mean(),0)
avg_num_pets

2.0

In [41]:
df = df.fillna(avg_num_pets)

In [42]:
# Confirming records have been completed
df.loc[37,], df.loc[53,]

(ID                          15910
 Age                            79
 Income                      32000
 Property                      YES
 Num of pets in household      2.0
 Name: 37, dtype: object,
 ID                          16502
 Age                            67
 Income                      50000
 Property                        N
 Num of pets in household      2.0
 Name: 53, dtype: object)

In [43]:
# Inconsistent yes/no entries
df["Property"].unique()

array(['N', 'no', 'yes', 'YES', 'NO', 'Y'], dtype=object)

In [44]:
df["Property"] = df["Property"].str.lower()
df["Property"].unique()

array(['n', 'no', 'yes', 'y'], dtype=object)

In [45]:
df.replace("n", "no", inplace = True)
df.replace("y", "yes", inplace = True)
df["Property"].unique()

array(['no', 'yes'], dtype=object)